:root {
  font-size: 10px;
}

img {
  color: white;
  filter: invert(96%) sepia(7%) saturate(3%) hue-rotate(161deg) brightness(107%) contrast(100%);
  height: 40px;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
  height: 100vh;

}

#dashboard {
  background: grey;
  grid-area: 1 / 1 / 3 / 2;
}

#nav {
  grid-area: 1 / 2 / 1 / 3;
  background: white;
}

#main {
  grid-area: 2 / 2 / 3 / 3;
  background: lightgrey;
}

#dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;

  gap: 10px;
}

h1 {
  font-size: 3rem;
  color: white;
}

.section {
  font-size: 2rem;
  margin: 40px;
  color: white;
  font-weight: 1000;
}

.section>div {
  padding: 15px;
}

#nav-top {
  display: flex;
  justify-content: space-between;
}

#search {
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 20px;

}

#search-icon {
  height: 40px;
  filter: none;
}

#search-bar {
  background: lightgrey;
  height: 40px;
  width: 700px;
  border-radius: 50px;
}

#bell-icon {
  filter: none;
}

#nav-top-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 50px;
}

#nav-top-right>h2 {
  font-size: 2rem;
}

#profile-pic {
  filter: none;
  height: 70px;
  border-radius: 50px;
}
